<tr is="coral-tr" class="foundation-collection-navigator"
    data-foundation-collection-navigator-href="#"
    data-id="${properties.name}"
    data-path="${properties.path}">
    <td is="coral-td">
        <coral-checkbox coral-tr-select/>
    </td>
    <td is="coral-td" value="${properties.year}">
        ${properties.year} 
    </td>
    <td is="coral-td" value="${properties.month}">
        <span>
            ${properties.month}
        </span>
    </td>
    <td is="coral-td" value="${properties.percent}">
        <span>
            ${properties.percent}&#37;
        </span>
    </td>
</tr>